<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>My Posts</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div lang="en" th:include="fragments/navigation :: navigation"></div>
<div class="container container-fluid">
    <h3>My Posts</h3>
    <div class="row col-md-7 table-responsive">
        <table id="userTable" class="table table-bordered">
            <thead>
            <tr>
                <th>Author</th>
                <th>Title</th>
                <th>Content</th>
                <th>Approved</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post, rowStat: ${my_posts}" th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
                <td th:text="${post.user.username}">Author</td>
                <td th:text="${post.title}">Title</td>
                <td th:text="${post.body}">Content</td>
                <td th:if="${!post.approved}">Not Approved</td>
                <td th:unless="${!post.approved}">Approved</td>
                <td><a th:href="@{/post/view_post/{post_id}(post_id=${post.id})}">view</a></td>
                <td><a th:href="@{/post/edit_post/{post_id}(post_id=${post.id})}">Edit</a></td>
                <td><a th:href="@{/post/delete_post/{post_id}(post_id=${post.id})}">Delete</a></td>

            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>