<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>My Post</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div lang="en" th:include="fragments/navigation :: navigation"></div>

    <div class="container container-fluid">
        <div class="jumbotron" style="margin:0 auto;">

            <h1 th:text="${post.title}">Title</h1>
            <i><div><a th:text="'Author : '+${post.user.username}">Author</a></div></i>
            <i><div th:text="'Created at: ' + ${#dates.format(post.createDate, 'dd-MMM-yyyy')}">Created by</div></i>
            <p th:text="${post.body}">Body</p>
        </div>

        <div>
            <p th:text="'[LIKE]-> '+ ${post.getLikeCount()} + '[DISLIKE]-> ' +'      '+ ${post.getDislikeCount()} "></p>
        </div>
        <div>
            <div class="alert alert-info" th:if="${message}" th:utext="${message}"></div>
            <a th:href="@{/vote/like/{post_id}(post_id=${post.id})}" class="button">LIKE</a> <a th:href="@{/vote/dislike/{post_id}(post_id=${post.id})}" class="button">DISLIKE</a>
        </div>

        <div>
            <h5>Comments</h5>
            <div th:if="${!post.comments.isEmpty()}">
                <div th:each="comment, rowStat: ${post.comments}">
                    <b><div th:text="'[' + ${comment.user.username} + ']'"></div></b>
                    <small><div th:text="${comment.body}"></div></small>
                </div>
            </div>
            <div th:unless="${!post.comments.isEmpty()}">
                No Comments yet
            </div>
        </div>




        <div>
            <form  th:object="${comment}" th:action="@{'/comment/create_comment/'+ ${post.getId()}}"  method="post">
                <div>
                    <input type="hidden" th:field="*{id}"/>
                    <!--<textarea th:field="*{body}" name="comments" id="comments" style="font-family:sans-serif;font-size:1.2em;">
                    Hey... say something!
                    </textarea>-->
                    <div class="form-group">
                        <textarea th:field="*{body}" placeholder="Comment Here"
                                  class="form-control input-lg"/>
                    </div>
                </div>
                <div>
                    <input type="submit" value="Submit"/>
                    <input type="reset" value="Reset" />
                </div>
            </form>
        </div>
    </div>



</body>
</html>